/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq-1261 {
    padding: var(--sectionPadding);
    background-color: #14142b;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #faq-1261 .cs-container {
    width: 100%;
    /* chnages to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 40px - 48px */
    gap: clamp(2.5rem, 5vw, 3rem);
  }
  #faq-1261 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #faq-1261 .cs-topper {
    color: var(--secondary);
  }
  #faq-1261 .cs-title {
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #faq-1261 .cs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* 16px - 20px */
    gap: clamp(1rem, 2.4vw, 1.25rem);
  }
  #faq-1261 .cs-faq-group {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2.4vw, 1.25rem);
  }
  #faq-1261 .cs-faq-item {
    list-style: none;
    width: 90%;
    background-color: #303044;
    border-radius: 0.5rem;
    padding: 0;
    box-sizing: border-box;
    transition: border-bottom 0.3s;
  }
  #faq-1261 .cs-faq-item.active .cs-button {
    color: var(--secondary);
  }
  #faq-1261 .cs-faq-item.active .cs-button:before {
    background-color: var(--secondary);
    transform: rotate(315deg);
  }
  #faq-1261 .cs-faq-item.active .cs-button:after {
    background-color: var(--secondary);
    transform: rotate(-315deg);
  }
  #faq-1261 .cs-faq-item.active .cs-item-p {
    height: auto;
    margin-top: 0.75rem;
    /* 16px - 24px */
    padding-top: 0.75rem;
    padding-bottom: 1.5rem;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #faq-1261 .cs-faq-item.active .cs-item-p:before {
    /* border top */
    content: "";
    height: 1px;
    background: #7d799c;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 1.5rem;
    right: 1.5rem;
  }
  #faq-1261 .cs-button {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    text-align: left;
    font-weight: bold;
    width: 100%;
    padding: 1.5rem 1.5rem 0;
    border: none;
    background: transparent;
    color: var(--bodyTextColorWhite);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    /* 16px - 24px */
    gap: clamp(1rem, 2.5vw, 1.5rem);
    position: relative;
    transition:
      background-color 0.3s,
      color 0.3s;
  }
  #faq-1261 .cs-button:hover {
    cursor: pointer;
  }
  #faq-1261 .cs-button:before {
    /* left line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--bodyTextColorWhite);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 67%;
    right: 1.1875rem;
    transform: rotate(45deg);
    /* animate the transform from the left side of the x axis, and the center of the y */
    transform-origin: left center;
    transition: transform 0.5s;
  }
  #faq-1261 .cs-button:after {
    /* right line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--bodyTextColorWhite);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 67%;
    right: 1rem;
    transform: rotate(-45deg);
    /* animate the transform from the right side of the x axis, and the center of the y */
    transform-origin: right center;
    transition: transform 0.5s;
  }
  #faq-1261 .cs-button-text {
    width: 90%;
    padding: 0;
    display: block;
  }
  #faq-1261 .cs-item-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    width: 100%;
    max-width: 33.8125rem;
    height: 0;
    margin: 0;
    /* 16px - 24px */
    padding: 0 1.5rem 1.5rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    opacity: 0;
    color: var(--bodyTextColor);
    /* clips the text so it doesn't show up */
    overflow: hidden;
    position: relative;
    transition:
      opacity 0.3s,
      padding-bottom 0.3s,
      padding-top 0.3s;
  }
  #faq-1261 .cs-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #faq-1261 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* tablet - 768px */
@media only screen and (min-width: 48rem) {
  #faq-1261 .cs-container {
    max-width: 80rem;
  }
  #faq-1261 .cs-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #faq-1261 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #faq-1261 .cs-faq-item {
    background-color: var(--medium);
  }
}
