@import "tailwindcss";

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-2291 {
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #sbs-2291 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }
  #sbs-2291 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }
  #sbs-2291 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-2291 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }

  #sbs-2291 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    background-color: var(--primary);
    color: white;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #sbs-2291 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-2291 .cs-button-solid:hover {
    color: #fff;
  }
  #sbs-2291 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-2291 .cs-image-group {
    width: 100%;
    height: 126vw;
    max-height: 39.125rem;
    display: block;
    order: -1;
    position: relative;
    z-index: 1;
  }
  #sbs-2291 .cs-image-group .cs-picture::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.2rem solid var(--primary);
    transform: rotate(-4deg);
    z-index: 0;
    pointer-events: none;
  }

  #sbs-2291 .cs-image-group .cs-picture::before {
    animation: border-rotate-scale 10s linear infinite;
  }

  @keyframes border-rotate-scale {
    0% {
      transform: rotate(-4deg) scale(1);
    }

    50% {
      transform: rotate(-0deg) scale(1);
    }

    0% {
      transform: rotate(-4deg) scale(1);
    }
  }

  #sbs-2291 .cs-picture {
    /* big background image */
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 3rem;
    left: 0;
  }
  #sbs-2291 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  #sbs-2291 .cs-graphic {
    width: 150%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-2291 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: stretch;
    gap: 1.25rem;
  }
  #sbs-2291 .cs-content {
    padding-left: 3.25rem;
    padding-bottom: 6.75rem;
  }

  #sbs-2291 .cs-image-group .cs-picture::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.2rem solid var(--primary);
    transform: rotate(-8deg);
    z-index: 0;
    pointer-events: none;
  }

  #sbs-2291 .cs-image-group .cs-picture::before {
    animation: border-rotate-scale 10s linear infinite;
  }

  @keyframes border-rotate-scale {
    0% {
      transform: rotate(-8deg) scale(1);
    }

    50% {
      transform: rotate(-0deg) scale(1);
    }

    0% {
      transform: rotate(-8deg) scale(1);
    }
  }

  #sbs-2291 .cs-image-group {
    height: auto;
    min-height: 40.125rem;
    max-height: 100%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-2291 .cs-title,
  body.dark-mode #sbs-2291 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-2291 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #sbs-2291 {
    background-color: var(--medium);
  }
}
