---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import "../styles/home.css";
import "../styles/services1.css";
import "../styles/sbs1.css";
import "../styles/whyus.css";
import "../styles/services2.css";
import "../styles/sbs2.css";
import "../styles/faq.css";
import "../styles/rvw.css";
import "../styles/cta.css";
---

<BaseLayout>
  <!-- ============================================ -->
  <!--                    Hero                      -->
  <!-- ============================================ -->

  <section id="hero-1059">
    <div class="cs-container">
      <div class="cs-content">
        <h1 class="cs-title">Fast, Reliable Plumbing in Dallas–Fort Worth</h1>
        <p class="cs-text">
          Licensed & insured since 2010, trusted by homeowners and businesses
          with 24/7 emergency service, honest pricing, and guaranteed work.
        </p>
        <a href="" class="cs-button-solid">Call Now for a Free Estimate</a>
      </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
      <source
        media="(max-width: 600px)"
        srcset="/imgs/man-installs-heating-system-house-checks-pipes-with-wrench.jpg"
      />
      <source
        media="(min-width: 601px)"
        srcset="/imgs/man-installs-heating-system-house-checks-pipes-with-wrench.jpg"
      />
      <img
        decoding="async"
        src="/imgs/man-installs-heating-system-house-checks-pipes-with-wrench.jpg"
        alt="mechanic"
        width="2250"
        height="1500"
        aria-hidden="true"
      />
    </picture>
  </section>

  <!-- ============================================ -->
  <!--                  Services                    -->
  <!-- ============================================ -->

  <section id="services-1644">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Our Services</span>
        <h2 class="cs-title">Residential & Commercial Plumbing Experts</h2>
        <p class="cs-text text-pretty">
          From leaks and clogged drains to water heaters and remodel work, we’ve
          been serving Dallas–Fort Worth since 2010. With Axiom Plumbing, your
          home or business is backed by licensed, insured professionals who
          respond fast, explain everything up front, and guarantee the job for 1
          year. We don’t just fix problems, we make sure it’s done right the
          first time.
        </p>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <div class="cs-image-group">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="/svgs/pipe-leak.svg"
              alt="icon"
              width="48"
              height="48"
              aria-hidden="true"
            />
          </div>
          <div class="cs-flex">
            <h2 class="cs-h2">Leak Detection</h2>
            <p class="cs-item-text">
              We quickly find and repair leaks before they cause bigger damage.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <div class="cs-image-group">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="/svgs/sink.svg"
              alt="icon"
              width="48"
              height="48"
              aria-hidden="true"
            />
          </div>
          <div class="cs-flex">
            <h2 class="cs-h2">Kitchen and Bath</h2>
            <p class="cs-item-text">
              From toilets to faucets, we handle all your home plumbing.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <div class="cs-image-group">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="/svgs/plumber-tool.svg"
              alt="icon"
              width="48"
              height="48"
              aria-hidden="true"
            />
          </div>
          <div class="cs-flex">
            <h2 class="cs-h2">Drain Cleaning</h2>
            <p class="cs-item-text">
              Clogged drains cleared fast so your water flows again.
            </p>
          </div>
        </li>
        <li class="cs-item">
          <div class="cs-image-group">
            <img
              class="cs-icon"
              loading="lazy"
              decoding="async"
              src="/svgs/water-heater.svg"
              alt="icon"
              width="48"
              height="48"
              aria-hidden="true"
            />
          </div>
          <div class="cs-flex">
            <h2 class="cs-h2">Water Heaters</h2>
            <p class="cs-item-text">
              Expert repair or replacement for reliable hot water.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                Side By Side                  -->
  <!-- ============================================ -->

  <section id="sbs-2291" class="bg-[#f7f7f7]">
    <div class="cs-container">
      <!-- Left Content Section-->
      <div class="cs-content">
        <span class="cs-topper">Featured service</span>
        <h2 class="cs-title">
          Water Heater Replacement for Dallas, Fort Worth
        </h2>
        <p class="cs-text">
          Having trouble with your water heater? If repairs are becoming more
          expensive than a new unit, Axiom Plumbing is your trusted choice for
          water heater replacement in Dallas, Fort Worth and nearby suburbs.
          Since 2010, our licensed team has provided fast service, expert
          installations, and honest pricing, all backed by a one-year guarantee.
        </p>

        <p class="cs-text">
          When it comes to water heaters, we specialize in both replacements and
          repairs. A failing unit doesn’t just leave you without hot water, it
          can also spike your energy bills. Whether you need a quick repair or a
          brand-new, energy-efficient system, we’ll make sure your home stays
          comfortable with reliable hot water every day.
        </p>

        <a
          class="cs-button-solid"
          aria-label="Call About My Heater"
          href="/contact">Call About My Heater</a
        >
      </div>
      <!-- Right Image Section -->
      <div class="cs-image-group">
        <!--Image-->
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="/imgs/water-heaterr.jpeg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/imgs/water-heaterr.jpeg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="/imgs/water-heaterr.jpeg"
            alt="meeting"
            width="630"
            height="630"
            aria-hidden="true"
          />
        </picture>
      </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                 Why Choose                   -->
  <!-- ============================================ -->

  <section id="why-choose-289">
    <div class="cs-container">
      <div class="cs-content">
        <div class="cs-flex">
          <span class="cs-topper">Experience</span>
          <h2 class="cs-title">Why Choose Axiom Plumbing?</h2>
        </div>
        <p class="cs-text text-pretty">
          With Axiom Plumbing, your satisfaction comes first. We serve both
          homes and businesses across Dallas–Fort Worth, delivering reliable
          solutions for everything from urgent leaks to full plumbing remodels.
          Our team works with the latest tools and trusted parts, backed by over
          a decade of experience, a one-year guarantee, and a commitment to
          clean, honest work every time.
        </p>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="/svgs/award.svg"
            alt="icon"
            width="48"
            height="48"
          />
          <h3 class="cs-h3">Trusted & Licensed</h3>
          <p class="cs-item-text">
            Serving "Dallas, Fort Worth" since 2010, fully licensed and insured
            with a 1-year guarantee.
          </p>
        </li>
        <li class="cs-item">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/sheild-black.svg"
            alt="icon"
            width="40"
            height="48"
          />
          <h3 class="cs-h3">Transparent Pricing</h3>
          <p class="cs-item-text">
            No hidden fees, we explain everything before starting the job.
          </p>
        </li>
        <li class="cs-item">
          <img
            class="cs-icon"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/call.svg"
            alt="icon"
            width="48"
            height="48"
          />
          <h3 class="cs-h3">Fast Response</h3>
          <p class="cs-item-text">
            We handle emergencies quickly, including 24/7 leak and burst pipe
            repairs.
          </p>
        </li>
      </ul>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                  Services                    -->
  <!-- ============================================ -->

  <section id="services-285" class="bg-[#f7f7f7]">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Additional Plumbing Services</span>
        <h2 class="cs-title capitalize">
          All Our Residential and Commercial Services
        </h2>
        <p class="cs-text">
          At Axiom Plumbing, we provide a full range of services to keep your
          home or business running smoothly. From routine maintenance and small
          fixes to complex installations and replacements, we handle it all. Our
          services include leak detection, drain cleaning, water heater
          installation and service, bathroom and kitchen upgrades, sewer line
          inspections, garbage disposal setups, and much more.
        </p>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <a href="/contact" class="cs-link">
            <picture class="cs-picture">
              <img
                class="cs-icon"
                src="/svgs/wrench.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="38"
                height="52"
                aria-hidden="true"
              />
            </picture>
            <h3 class="cs-h3">Remodel Work</h3>
            <p class="cs-item-text">
              Connect new pipes and fixtures during bathroom or kitchen
              renovations.
            </p>
          </a>
        </li>
        <li class="cs-item">
          <a href="/contact" class="cs-link">
            <picture class="cs-picture">
              <img
                class="cs-icon"
                src="/svgs/sink-2.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="38"
                height="52"
                aria-hidden="true"
              />
            </picture>
            <h3 class="cs-h3">Garbage Disposals</h3>
            <p class="cs-item-text">
              Install, maintain, or replace disposals for a smoothly working
              kitchen.
            </p>
          </a>
        </li>
        <li class="cs-item">
          <a href="/contact" class="cs-link">
            <picture class="cs-picture">
              <img
                class="cs-icon"
                src="/svgs/pipe-drops.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="38"
                height="52"
                aria-hidden="true"
              />
            </picture>
            <h3 class="cs-h3">Sewer Lines</h3>
            <p class="cs-item-text">
              Inspect and fix sewer pipes to prevent backups and costly damage.
            </p>
          </a>
        </li>
        <li class="cs-item">
          <a href="/contact" class="cs-link">
            <picture class="cs-picture">
              <img
                class="cs-icon"
                src="/svgs/toilet.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="38"
                height="52"
                aria-hidden="true"
              />
            </picture>
            <h3 class="cs-h3">Toilets</h3>
            <p class="cs-item-text">
              Install, adjust, or service toilets to keep everything flushing
              properly.
            </p>
          </a>
        </li>
        <li class="cs-item">
          <a href="/contact" class="cs-link">
            <picture class="cs-picture">
              <img
                class="cs-icon"
                src="/svgs/bathtub.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="38"
                height="52"
                aria-hidden="true"
              />
            </picture>
            <h3 class="cs-h3">Showers & Tubs</h3>
            <p class="cs-item-text">
              Install or maintain showers and bathtubs for safe, reliable use.
            </p>
          </a>
        </li>
        <li class="cs-item">
          <a href="/contact" class="cs-link">
            <picture class="cs-picture">
              <img
                class="cs-icon"
                src="/svgs/pump-water.svg"
                loading="lazy"
                decoding="async"
                alt="icon"
                width="38"
                height="52"
                aria-hidden="true"
              />
            </picture>
            <h3 class="cs-h3">Sump Pumps</h3>
            <p class="cs-item-text">
              Set up or service pumps to protect your home from flooding.
            </p>
          </a>
        </li>
      </ul>
      <a href="/contact" class="cs-button-solid">Schedule Service</a>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                Side By Side                  -->
  <!-- ============================================ -->

  <section id="sbs2-2291">
    <div class="cs-container">
      <!-- Left Content Section-->
      <div class="cs-content">
        <span class="cs-topper">Featured service</span>
        <h2 class="cs-title">Emergency Leak & Burst Pipe Service</h2>
        <p class="cs-text">
          At Axiom Plumbing, we provide fast and professional leak and burst
          pipe service to keep your home or business safe and dry. Our
          experienced team has the knowledge and tools to handle any urgent
          plumbing situation, from small leaks to major pipe bursts.
        </p>
        <p class="cs-text">
          We know emergencies can’t wait. Whether water is leaking from a pipe
          or flooding is imminent, our licensed technicians respond quickly,
          diagnose the problem accurately, and apply the right solution. Using
          high-quality materials and proven techniques, we restore your pipes
          efficiently and reliably.
        </p>

        <a
          class="cs-button-solid"
          aria-label="learn more about our programs"
          href="/contact">Call Now</a
        >
      </div>
      <!-- Right Image Section -->
      <div class="cs-image-group">
        <!--Floating Box-->
        <div class="cs-box">
          <span class="cs-number" aria-hidden="true">14+</span>
          <div class="cs-flex">
            <h3 class="cs-heading">years of Experience</h3>
          </div>
        </div>
        <!--Image-->
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="/imgs/fixing-water-leak.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/imgs/fixing-water-leak.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="/imgs/fixing-water-leak.jpg"
            alt="meeting"
            width="630"
            height="630"
            aria-hidden="true"
          />
        </picture>
      </div>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                     FAQ                      -->
  <!-- ============================================ -->

  <section id="faq-1261">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Asked questions</span>
        <h2 class="cs-title">Frequently Asked Questions</h2>
      </div>
      <!--We made two lists so when you open an FAQ item, they behave properly and separate from each other, wrapped in a wrapper div for better flexboxxing -->
      <div class="cs-wrapper">
        <ul class="cs-faq-group">
          <!-- Active class added as default -->
          <li class="cs-faq-item active">
            <button class="cs-button">
              <span class="cs-button-text">
                How fast can someone come to fix my plumbing?
              </span>
            </button>
            <p class="cs-item-p">
              We respond quickly, especially for emergencies. Call us and we’ll
              get a licensed technician to your home or business as fast as
              possible.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Do you handle plumbing emergencies?
              </span>
            </button>
            <p class="cs-item-p">
              Yes. Burst pipes, major leaks, or sudden water issues—we provide
              24/7 emergency service across the Greater Seattle area.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text"> How much will it cost? </span>
            </button>
            <p class="cs-item-p">
              Every job is unique. We offer a free, no-obligation estimate and
              give flat-rate quotes upfront—no surprises.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What plumbing services do you offer?
              </span>
            </button>
            <ul class="cs-item-p">
              <li>- Emergency Plumbing Repairs</li>
              <li>- Bathroom & Kitchen Remodels</li>
              <li>- Water Heater Installation & Repair</li>
              <li>- Drain Cleaning & Hydro-jetting</li>
              <li>- Fixture Replacement</li>
              <li>- Garbage Disposal Installation</li>
              <li>- Leak Detection</li>
              <li>- Pipe Insulation</li>
            </ul>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Are you licensed and insured?
              </span>
            </button>
            <p class="cs-item-p">
              Absolutely. All our plumbers are fully licensed and insured to
              give you peace of mind.
            </p>
          </li>
        </ul>
        <ul class="cs-faq-group">
          <!-- Active class added as default -->
          <li class="cs-faq-item active">
            <button class="cs-button">
              <span class="cs-button-text"> Do you guarantee your work? </span>
            </button>
            <p class="cs-item-p">
              Yes. All repairs and installations come with a 2-year workmanship
              guarantee.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Can I see reviews or testimonials?
              </span>
            </button>
            <p class="cs-item-p">
              Over 1,200 satisfied customers trust us. Check out our 5-star
              reviews on Google and Yelp.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text"> Do you serve my area? </span>
            </button>
            <p class="cs-item-p">
              We proudly serve the Greater Seattle metro area. If you’re local,
              we’ve got you covered.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text"> How do I schedule service? </span>
            </button>
            <p class="cs-item-p">
              Call us at (555) 123-AXOM (2566) or fill out our online contact
              form for non-urgent requests.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Can you explain the problem in simple terms?
              </span>
            </button>
            <p class="cs-item-p">
              Yes. We diagnose issues clearly, explain your options, and fix
              only what’s necessary—no upselling, no jargon
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                Do you handle remodels or big projects?
              </span>
            </button>
            <p class="cs-item-p">
              Definitely. From bathroom upgrades to kitchen remodels, we manage
              piping, fixtures, and everything in between.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text">
                What makes Axiom Plumbing different from other plumbers?
              </span>
            </button>
            <p class="cs-item-p">
              Honest pricing, guaranteed workmanship, no upselling, and a focus
              on fixing it right the first time.
            </p>
          </li>
          <li class="cs-faq-item">
            <button class="cs-button">
              <span class="cs-button-text"> Need help now? </span>
            </button>
            <p class="cs-item-p">
              Call (555) 123-AXOM (2566) for fast service.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <!--SVG Waves-->
    <picture class="cs-background">
      <!--Mobile Image-->
      <source
        media="(max-width: 600px)"
        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves-m.svg"
      />
      <!--Tablet and above Image-->
      <source
        media="(min-width: 601px)"
        srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg"
      />
      <img
        aria-hidden="true"
        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-waves.svg"
        loading="lazy"
        decoding="async"
        alt="moon"
        width="1920"
        height="647"
      />
    </picture>
  </section>

  <!-- ============================================ -->
  <!--                   Reviews                    -->
  <!-- ============================================ -->

  <section id="reviews-1455">
    <div class="cs-container">
      <div class="cs-content">
        <!--Yellow Quote-->
        <img
          class="cs-quote"
          aria-hidden="true"
          src="https://gist.githubusercontent.com/Baelhj/5e7bc9f2e155169ff82672cb1fb3d435/raw/a233ee5356d10c16acdf467ec8ebb66589c41e3f/quote.svg"
          decoding="async"
          alt="quote icon"
          width="40"
          height="33"
          loading="lazy"
        />
        <span class="cs-topper">Testimonials</span>
        <h2 class="cs-title">Trusted by Over 1,200 Homeowners & Businesses</h2>
        <p class="cs-text">
          At Axiom Plumbing, we handle plumbing problems fast so you can focus
          on your day. From emergency repairs to full bathroom and kitchen
          remodels, our licensed and insured team delivers honest pricing,
          guaranteed workmanship, and peace of mind.
        </p>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <p class="cs-review">
            Axiom Plumbing fixed my burst pipe in no time. The team was
            professional, explained everything clearly, and there were no hidden
            fees. Highly recommend!
          </p>
          <div class="cs-flex-group">
            <picture class="cs-picture">
              <img
                class="cs-profile"
                src="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/masonjames.jpg"
                decoding="async"
                alt="profile"
                width="50"
                height="50"
                aria-hidden="true"
                loading="lazy"
              />
            </picture>
            <span class="cs-name"> John D </span>
          </div>
        </li>
        <li class="cs-item">
          <p class="cs-review">
            They handled our bathroom remodel professionally and efficiently.
            The team explained everything upfront and left the place spotless.
          </p>
          <div class="cs-flex-group">
            <picture class="cs-picture">
              <img
                class="cs-profile"
                src="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/georgethomas.jpg"
                decoding="async"
                alt="profile"
                width="50"
                height="50"
                aria-hidden="true"
                loading="lazy"
              />
            </picture>
            <span class="cs-name"> James L </span>
          </div>
        </li>
        <li class="cs-item">
          <p class="cs-review">
            Fast, honest, and trustworthy. I’ll never call another plumber
            again.
          </p>
          <div class="cs-flex-group">
            <picture class="cs-picture">
              <img
                class="cs-profile"
                src="https://csimages2.nyc3.digitaloceanspaces.com/Images/People/masonjames.jpg"
                decoding="async"
                alt="profile"
                width="50"
                height="50"
                aria-hidden="true"
                loading="lazy"
              />
            </picture>
            <span class="cs-name"> Michael R </span>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <!-- ============================================ -->
  <!--                    CTA                       -->
  <!-- ============================================ -->

  <section id="cta-262">
    <div class="cs-container">
      <div class="cs-left-section">
        <h2 class="cs-title">Call Now for Fast, Reliable Plumbing Service</h2>
        <a href="" class="cs-button-solid">Request Appointment</a>
      </div>
      <div class="cs-content">
        <span class="cs-header text-left">Available Hours</span>
        <p class="cs-p text-left">
          Monday–Friday: 8am–6pm<br />
          Saturday: 9am–3pm
          <br />
          24/7 Emergency Service Available
        </p>
        <p class="cs-p text-left">
          Call anytime for emergency repairs or a free estimate.<br />
          Walk-ins welcome.
        </p>
      </div>
      <picture class="cs-background">
        <source
          media="(max-width: 600px)"
          srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cloth-m.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cloth.jpg"
        />
        <img
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/CTA/cloth.jpg"
          alt="appliance"
          width="275"
          height="132"
        />
      </picture>
    </div>
  </section>
</BaseLayout>

<script>
  const faqItems = Array.from(document.querySelectorAll(".cs-faq-item"));
  for (const item of faqItems) {
    const onClick = () => {
      item.classList.toggle("active");
    };
    item.addEventListener("click", onClick);
  }
</script>
